* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#game {
  text-align: center;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 20px;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-template-rows: repeat(2, 150px);
  gap: 20px;
  justify-content: center;
}

.btn {
  border-radius: 20%;
  cursor: pointer;
  opacity: 0.9;
}

#green { background-color: green; }
#red { background-color: red; }
#yellow { background-color: yellow; }
#blue { background-color: blue; }

.flash {
  background-color: white !important;
}

.user-flash {
  opacity: 0.5;
}
